<article>
  <h2>Alert</h2>
  <div class="cuadro">
    <div class="alert mb-10"><strong>Normal</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert mb-10 red"><strong>Error</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert mb-10 amarillo"><strong>Warning</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert mb-10 azul"><strong>Info</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert verde"><strong>Success</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert verde"><i class="close">&times;</i><strong>Success</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
  </div>
</article>