<article>
  <h2>Alert</h2>
  <h3>Normales</h3>
  <div class="mb-10 cuadro">
    <div class="alert mb-10"><strong>Normal</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert mb-10 rojo"><strong>Error</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert mb-10 amarillo"><strong>Warning</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert mb-10 azul"><strong>Info</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
    <div class="alert verde"><strong>Success</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.</div>
  </div>
  <pre><code class="mb-20 language-html">&lt;div class=&quot;alert&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;alert rojo&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;alert amarillo&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;alert azul&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;alert verde&quot;&gt;&lt;/div&gt;</code></pre>
  <h3>Cerrables</h3>
  <div class="mb-10 cuadro">
    <div class="alert mb-10 verde">
      <i class="close">&times;</i>
      <div>
        <strong>Success</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.
      </div>
    </div>
    <div class="alert mb-10 rojo">
      <i class="close">&times;</i>
      <div>
        <strong>Success</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.
      </div>
    </div>
    <div class="alert azul">
      <i class="close">&times;</i>
      <div>
        <strong>Success</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium.
      </div>
    </div>
  </div>
  <pre><code class="mb-20 language-html">&lt;div class=&quot;alert&quot;&gt;
  &lt;i class=&quot;close&quot;&gt;&amp;times;&lt;/i&gt;
  &lt;div&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</article>