<article>
  <h2>Botones</h2>
  <a href="#" class="mb-10 btn">Link To Aqui</a>
  <a href="#" class="mb-10 btn rojo">Other</a>
  <a href="#" class="mb-10 btn amarillo">Other</a>
  <a href="#" class="mb-10 btn azul">Other</a>
  <a href="#" class="mb-10 btn verde">Other</a>
  <a href="#" class="mb-10 btn verde text-blanco">Other</a>
  <a href="#" class="mb-10 btn lavanda">Other</a>
  <a href="#" class="verde">sin</a>
  <pre><code class="mb-20 language-html">&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Link To Aqui&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn rojo&quot;&gt;Other&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn amarillo&quot;&gt;Other&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn azul&quot;&gt;Other&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn verde&quot;&gt;Other&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn verde text-blanco&quot;&gt;Other&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn lavanda&quot;&gt;Other&lt;/a&gt;
&lt;a href=&quot;#&quot;&gt;sin&lt;/a&gt;</code></pre>
</article>