<article>
  <h2>Card</h2>
  <div class="cuadro mb-10">
    <div class="card">
      <a href="#" class="external-link">
        <i class="fa fa-external-link"></i>
      </a>
      <div class="card-title">
        <a href="#">Content title</a>
      </div>
      <div class="card-body">
        <p>
          La mayoría de las tareas de administración del sistema se realizan
          normalmente en el terminal. Implican crear usuarios, ejecutar
          actualizaciones y cambiar archivos de configuración y mucho más. Puede
          resultar bastante aburrido trabajar perpetuamente en la terminal. Webmin
          es una herramienta de administración web de código abierto que permite a
          los usuarios monitorear y administrar servidores fácilmente.
        </p>
      </div>
      <div class="card-footer">
        <div><i class="fa fa-file"></i> 22-08-2021</div>
        <div><i class="fa fa-calendar"></i> 22-08-2021</div>
        <div><i class="fa fa-cubes"></i> Categoria</div>
      </div>
    </div>

    <div class="card">
      <a href="#" target="_blank" class="external-link">
        <i class="fa fa-external-link"></i>
      </a>
      <a href="#" class="btn-edit">
        <i class="fa fa-edit"></i>
      </a>
      <div class="card-title">
        <a href="#">Content title</a>
      </div>
      <div class="card-body">
        <p>
          La mayoría de las tareas de administración del sistema se realizan
          normalmente en el terminal. texto texto texto 
        </p>
      </div>
      <div class="card-footer">
        <div><i class="fa fa-file"></i> 22-08-2021</div>
        <div><i class="fa fa-calendar"></i> 22-08-2021</div>
        <div><img src="img/logo.png" /> TypeScript</div>
      </div>
    </div>
  </div>

  <pre><code class="mb-20 language-html">&lt;div class=&quot;card&quot;&gt;
  &lt;a href=&quot;#&quot; class=&quot;external-link&quot;&gt;
    &lt;i class=&quot;fa fa-external-link&quot;&gt;&lt;/i&gt;
  &lt;/a&gt;
  &lt;div class=&quot;card-title&quot;&gt;
    &lt;a href=&quot;#&quot;&gt;Content title&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;p&gt;
      ...
    &lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-footer&quot;&gt;
    &lt;div&gt;&lt;i class=&quot;fa fa-file&quot;&gt;&lt;/i&gt; 22-08-2021&lt;/div&gt;
    &lt;div&gt;&lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt; 22-08-2021&lt;/div&gt;
    &lt;div&gt;&lt;i class=&quot;fa fa-cubes&quot;&gt;&lt;/i&gt; Categoria&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</article>
