<article>
  <h2>Dropdowns</h2>
  <h3>Default</h3>
  <p>Al boton activador le agrega la clase active, si se desea hacer algo de estilo.</p>
  <p>Toma el ancho del elemento mas grande dentro del contenedor.</p>
  <div class="cuadro mb-10" style="display: flex; justify-content:center">
    <div class="dropdown">
      <button class="dropbtn">
        Dropdown Normal
      </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#"><i class="fa fa-user-circle"></i> Link 1</a>
        <a href="#"><i class="fa fa-user-circle"></i> Link 2</a>
        <hr>
        <a href="#"><i class="fa fa-user-circle"></i> Link 3</a>
      </div>
    </div> 
  </div>
  <pre><code class="language-html">&lt;div class=&quot;dropdown&quot;&gt;
  &lt;button class=&quot;dropbtn&quot;&gt;
    Dropdown Normal
  &lt;/button&gt;
  &lt;div id=&quot;myDropdown&quot; class=&quot;dropdown-content&quot;&gt;
    &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-user-circle&quot;&gt;&lt;/i&gt; Link 1&lt;/a&gt;
    &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-user-circle&quot;&gt;&lt;/i&gt; Link 2&lt;/a&gt;
    &lt;hr&gt;
    &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-user-circle&quot;&gt;&lt;/i&gt; Link 3&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>