<article>
  <h2>Inputs</h2>
  <h4>Conjunto para formularios</h4>
  <div class="cuadro mb-10 p-20">
    <div class="form-control">
      <label>Nombre:</label>
      <input type="text" />
      <small>Campo Small</small>
    </div>
  </div>
  <pre><code class="mb-20 language-html">&lt;div class=&quot;form-control&quot;&gt;
&lt;label&gt;Nombre:&lt;/label&gt;
&lt;input type=&quot;text&quot; /&gt;
&lt;small&gt;Campo Small&lt;/small&gt;
&lt;/div&gt;</code></pre>
  
  <div>
    <input class="mb-10" type="password" />
  </div>
  <div>
    <input class="mb-10" type="email" />
  </div>
  <div>
    <input class="mb-10" type="number" />
  </div>
  <div>
    <input class="mb-10" type="date" />
  </div>
  <div>
    <input class="mb-10" type="time" />
  </div>
  <div>
    <input class="mb-10" type="search" />
  </div>
  <div>
    <input class="mb-10" type="tel" />
  </div>
  <div>
    <input class="mb-10" type="radio" />
  </div>
  <div>
    <input class="mb-10" type="checkbox" />
  </div>
  <div class="mb-10">
    <textarea></textarea>
  </div>

  <pre><code class="mb-20 language-html">&lt;input class=&quot;mb-10&quot; type=&quot;password&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;email&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;number&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;date&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;time&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;search&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;tel&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;radio&quot; /&gt;
&lt;input class=&quot;mb-10&quot; type=&quot;checkbox&quot; /&gt;
&lt;textarea&gt;&lt;/textarea&gt;</code></pre>
</article>