<article>
  <h2>Tablas</h2>
  <div class="cuadro mb-10">
    <table class="tabla">
      <thead>
        <tr>
          <th>Head1</th>
          <th>Head2</th>
          <th>Head3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pre><code class="mb-20 language-html">&lt;table class=&quot;tabla&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Nombre&lt;/th&gt;
      &lt;th&gt;Imagen&lt;/th&gt;
      &lt;th&gt;Opciones&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;...&lt;/td&gt;
      &lt;td&gt;...&lt;/td&gt;
      &lt;td&gt;...&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
</article>
