<article>
  <h2>Texto</h2>
  <h4>Colores</h4>
  <p>
    Lorem ipsum dolor <code>texto code</code> consectetur adipisicing
    elit. Odit suscipit numquam perferendis et? Expedita at libero,
    sapiente non neque nesciunt,
    <a href="#">provident totam voluptas</a> fugit vitae explicabo
    placeat rerum dolorem ex dolor eaque obcaecati labore molestiae aut
    et beatae cupiditate? Quam dolorem quasi non distinctio blanditiis
    voluptas cumque iusto doloremque ipsa nihil, voluptatibus excepturi
    dignissimos soluta alias itaque quae deserunt velit
    <a href="#">praesentium</a>, explicabo obcaecati ullam. Odio,
    tenetur rerum? Aliquid ipsam dolore dolorem mollitia, atque eaque
    necessitatibus exercitationem doloribus, aperiam, beatae amet rem
    dolorum. Sapiente <span class="text-rojo">asperiores</span> optio
    consectetur dignissimos, repellendus magnam fugit nemo, laborum
    <span class="text-rojo-dark">asperiores</span> harum aperiam cumque,
    commodi distinctio impedit enim!
  </p>   
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
    suscipit numquam
    <span
      aria-label="Whats up!"
      data-balloon-pos="up"
      class="text-lavanda"
      >asperiores</span
    >
    et? Expedita at libero, sapiente non neque nesciunt,
    <a href="#">provident totam voluptas</a> fugit vitae explicabo
    placeat rerum dolorem ex dolor eaque obcaecati labore molestiae aut
    et beatae cupiditate? Quam dolorem quasi non distinctio blanditiis
    voluptas cumque iusto
    <span class="text-verde">asperiores</span> ipsa nihil, voluptatibus
    excepturi dignissimos soluta alias itaque quae deserunt velit
    <a href="#">praesentium</a>, explicabo obcaecati ullam. Odio,
    tenetur rerum? Aliquid ipsam dolore dolorem mollitia, atque eaque
    necessitatibus exercitationem
    <span class="text-amarillo">asperiores</span>, aperiam, beatae amet
    rem dolorum. Sapiente asperiores optio consectetur dignissimos,
    repellendus magnam fugit nemo, laborum ratione harum aperiam cumque,
    commodi distinctio impedit enim!
  </p>
  <pre><code class="mb-20 language-html">&lt;span class=&quot;text-rojo&quot;&gt;texto&lt;/span&gt;
&lt;span class=&quot;text-rojo-dark&quot;&gt;texto&lt;/span&gt;
&lt;span class=&quot;text-verde&quot;&gt;texto&lt;/span&gt;
&lt;span class=&quot;text-amarillo&quot;&gt;texto&lt;/span&gt;</code></pre>
  <h4>Alineado</h4>
  <div class="cuadro mb-10">
    <div class="text-center">Texto Centrado</div>
  </div>
  <pre><code class="mb-20 language-html">&lt;div class=&quot;text-center&quot;&gt;Texto Centrado&lt;/div&gt;</code></pre>
</article>