<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#161b22" />
    <title>MD CheatSheets</title>
    <%- include('partials/head') %>
    <link rel="shortcut icon" type="image/png" href="/img/logofinalx48.png" />
    <style>
      label {
        display: block;
      }
      .containerImagenes {
        display: none;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        border: 1px solid #2d2d2dee;
        background-color: #fff;
        color: #000000;
        border-radius: 5px;
      }
      .containerImagenes h3 {
        margin-bottom: 10px;
      }
      .containerImagenes div:first-child {
        margin-right: 40px;
      }
      .controlFormulario {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      .formulario-m{
        max-width: 400px;
        margin: 0 auto;
        border: 1px thin #FFFFFFaa;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container contenido">
      <h1>Categorías</h1>
      <div class="main">
        <main class="w-100">
          <form action="category" class="mb-30 formulario-m" method="post" enctype="multipart/form-data">
            <h3>Nueva</h3>
            <div class="form-control mb-20">
              <label for="titulo">Nombre nueva categoría:</label>
              <input
                type="text"
                class="mb-10 w-100"
                id="nombreCategoria"
                placeholder="NGINX, JavaScript, NodeJs ..."
                name="nombreCategoria"
                autocomplete="off"
              />
            </div>
            <div class="form-control">
              <label for="titulo">Seleccionar Imagen:</label>
              <small class="mb-10">(png - jpg - jpeg - ico | < 200Kb)</small>
              <input
                type="file"
                accept=".png,.jpeg,.jpg,.ico"
                class="mb-10"
                id="imgInp"
                name="categoryImg"
              />
            </div>

            <div id="containerImagenes" class="mb-20 containerImagenes">
              <div>
                <h6 class="text-dark">Imagen</h3>
                <img id="preview1" width="190" src="#" alt="preview image" />
              </div>
              <div>
                <h6 class="text-dark">Vista real</h3>
                <img id="preview2" width="25" src="#" alt="preview image" />
              </div>
            </div>
            <div class="contenedor-mensajes">
              <div class="alert roja mb-5" id="mensaje-incorrecto">
                <i class="close">&times;</i>
                <div>
                  Mensaje
                </div>
              </div>
              <div class="alert verde" id="mensaje-correcto">
                <i class="close">&times;</i>
                <div>
                  Mensaje
                </div>
              </div>
            </div>
            <div class="controlFormulario">
              <a
                href="#"
                id="crearCategoriaBtn"
                class="btn d-block verde text-blanco text-center"
              >
                Agregar nueva categoría
              </a>
            </div>
          </form>
          <article>
            <h3>Listado de categorías</h3>
            <table class="tabla" >
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Imagen</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody class="text-center"id="tablaCategorias">
                <tr>
                  <td style="position: relative; padding:50px"><div class="spinner-2"></div></td>
                  <td style="position: relative; padding:50px"><div class="spinner-2"></div></td>
                  <td style="position: relative; padding:50px"><div class="spinner-2"></div></td>
                </tr>
              </tbody>
            </table>
          </article>
        </main>
      </div>
    </div>
    <%- include('partials/scripts') %>
    <script src="js/category.view.js"></script>
  </body>
</html>
