<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#161b22" />
    <title>Sign in - MD CheatSheets</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="shortcut icon" type="image/png" href="img/logofinalx48.png" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container contenido">
      <h1>Sign Up</h1>
      <div class="main">
        <main class="w-100">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, tenetur!</p>
        </main>
      </div>
    </div>
  </body>
</html>