:root {
    --main-bg-color: #0D1117;
    --bg-header-color: #161B22;
    --bg-header-shadow: #0D1117;
    --main-text-color: #b3b9c5;
    --color-link: #6AB0F3;
    --color-link-hover: #FFFFFF;
    --color-title:#FFFFFF;
    --boder-color:#23282ed7;
    --boder-color-hover: #198754;

    --color-amarillo: #ffe08a;
    --color-verde:#198754;
    --color-rojo:#f14668;
    --color-gris:#b3b9c5; /*--main-text-color == --color-gris*/
    --color-azul:#3e8ed0;

    --color-azul-dark: #296fa8;
    --color-rojo-dark: #cc0f35;
    --color-amarillo-dark: #ffc629;
    --color-verde-dark: #196341;

    --color-gris-dark:#20252B;
  }

body{
    background: var(--main-bg-color);
    color: var(--main-text-color);
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Roboto", monospace;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: "DM Sans-Bolt", monospace;
    font-size: 37px;
    color: var( --color-title)
}

p{
    margin-bottom: 1.5rem;
    font-size: 19px;/*1.25*/
    line-height: 1.6rem;
    font-weight: 100;
    word-spacing: 0.25em;
    /* text-align: justify; */
}

a{
    color: var(--color-link);
    text-decoration:none;
}

a:hover{
    color: var(--color-link-hover);
    border-bottom: 3px solid var(--color-link);
}

main{
    width: 70%;
}

aside{
    width: 30%;
    margin-left: 2rem;
    background: var(--bg-header-color);
    height:max-content;
    border-radius: 5px;
}

aside h2{
    text-align: center;
    display: block;
    color:#FFFFFF;
    font-size:1.5rem;
    padding: 20px;
}

aside ul {
    margin-bottom: 20px;
}

aside ul li:first-child{
    border-top: 1px solid var(--boder-color);
}

aside ul li{
    border-bottom: 1px solid var(--boder-color);
}

aside ul li a{
    display: block;
    padding: 10px 5px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    transition:all .1s;
}

aside ul li a i{
    margin-right: 10px;
}

aside ul li a:hover{
    border-bottom: none;
    border-left: 3px solid var(--boder-color-hover);
}

aside ul li a:hover i{
    color: var(--color-amarillo);
    transition:all .1s;
}

header{
    background: var(--bg-header-color);
    box-shadow: 0px 3px 3px var(--bg-header-shadow);
    color: #FFFFFF;
    position: fixed;
    width: 100%;
}

header nav ul {
    direction: rtl;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    background:var(--main-bg-color);/*#2D2D31*/
    padding: 10px 20px;
    color:#FFFFFF;
    font-size: 19px;
}

.icon-nav-link{
    padding: 10px 15px;
}

.main{
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    margin-bottom: 0;
    font-size: 2rem;
    text-transform: Capitalize;
    font-family: Kalam;
}

.header nav{
    font-size: 1.5rem;
}

.header img{
    margin-right: 10px;
}

.container{
    max-width: 960px;
    margin: auto;
    padding: 1rem;
}

.contenido{
    padding-top: 90px;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.flex-align-items-center{
    display: flex;
    align-items: center;
}

.text-logo{
    padding-top: 10px;
}

/* BOTONES LINKS */

a.btn{
    text-decoration: none;
    padding: 10px 20px;
    color: var(--main-text-color);
    border: 2px solid var(--color-gris-dark);
    box-shadow: 4px 4px 0px var(--color-gris-dark);
    margin-right:10px;
    transition:border 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    display: inline-block;
    margin-bottom:3px;
}
a.btn:hover{
    border: 2px solid var(--main-text-color);
    box-shadow: 4px 4px 0px var(--main-text-color);
    color:#FFFFFF;
}
a.btn:active{
    border: 2px solid var(--main-text-color);
    box-shadow: 4px 4px 0px var(--main-text-color);
    color: #FFF;
    background: var(--color-gris-dark);
}

a.btn.rojo{
    border: 2px solid var(--color-rojo);
    box-shadow: 4px 4px 0px var(--color-rojo);
    color: var(--color-rojo);
}
a.btn.rojo:hover{
    border: 2px solid var(--color-rojo-dark);
    box-shadow: 4px 4px 0px var(--color-rojo-dark);
    color: var(--color-rojo-dark);
}
a.btn.rojo:active{
    border: 2px solid var(--color-rojo-dark);
    box-shadow: 4px 4px 0px var(--color-rojo-dark);
    color: #FFF;
    background: var(--color-rojo);
}

a.btn.amarillo{
    border: 2px solid var(--color-amarillo);
    box-shadow: 4px 4px 0px var(--color-amarillo);
    color: var(--color-amarillo);
}
a.btn.amarillo:hover{
    border: 2px solid var(--color-amarillo-dark);
    box-shadow: 4px 4px 0px var(--color-amarillo-dark);
    color: var(--color-amarillo-dark);
}
a.btn.amarillo:active{
    border: 2px solid var(--color-amarillo-dark);
    box-shadow: 4px 4px 0px var(--color-amarillo-dark);
    color: var(--main-bg-color);
    background: var(--color-amarillo);
}

a.btn.azul{
    border: 2px solid var(--color-azul);
    box-shadow: 4px 4px 0px var(--color-azul);
    color: var(--color-azul);
}
a.btn.azul:hover{
    border: 2px solid var(--color-azul-dark);
    box-shadow: 4px 4px 0px var(--color-azul-dark);
    color: var(--color-azul-dark);
}
a.btn.azul:active{
    border: 2px solid var(--color-azul-dark);
    box-shadow: 4px 4px 0px var(--color-azul-dark);
    color: #FFF;
    background: var(--color-azul);
}

a.btn.verde{
    border: 2px solid var(--color-verde);
    box-shadow: 4px 4px 0px var(--color-verde);
    color: var(--color-verde);
}
a.btn.verde:hover{
    border: 2px solid var(--color-verde-dark);
    box-shadow: 4px 4px 0px var(--color-verde-dark);
    color: var(--color-verde-dark);
}
a.btn.verde:active{
    border: 2px solid var(--color-verde-dark);
    box-shadow: 4px 4px 0px var(--color-verde-dark);
    color: #FFF;
    background: var(--color-verde);
}

.text-blanco{
    color: var(--main-text-color) !important;
}

/*Media qrys*/

/*<850px*/
@media screen and (min-width: 700px) { 
    .categoria-nav{
        display: none;
    }
}

/*<850px*/
@media screen and (max-width: 800px) { 
    p{
        font-size:18px;
    }

    h1{
        font-size:2.1rem;
    }
}

/*<700px*/
@media screen and (max-width: 700px) { 
    aside{
        display:none;
    }

    main{
        width:100%;
    }

    p{
        font-size:17px;
    }

    h1{
        font-size:1.6rem;
    }

    .text-logo{
        display:none;
    }
}