<header>
  <div class="container">
    <div class="header">
      <div class="flex-align-items-center">
        <img src="img/logofinal.png" width="40px" />
        <h1 class="text-logo flex-align-items-center">MD CheatSheets</h1>
      </div>
      <nav>
        <ul>
          <% if (credenciales.isLogged) {%>
          <li>
            <a href="add" class="icon-nav-link"><i class="fa fa-user-circle"></i></a>
          </li>
          <li>
            <a href="category" class="icon-nav-link"><i class="fa fa-bookmark"></i></a>
          </li>
          <li>
            <a href="add" class="icon-nav-link"><i class="fa fa-plus"></i></a>
          </li>
          <li>
            <a href="#" id="cerrarSession" class="icon-nav-link"><i class="fa fa-power-off"></i></a>
          </li>
          <% } %>
          <li>
            <a href="/" class="icon-nav-link"><i class="fa fa-home"></i></a>
          </li>
          <% if (!credenciales.isLogged) { %>
            <li>
              <a href="/signin" class="icon-nav-link"><i class="fa fa-sign-in"></i></a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="buscar" id="buscador">
    <div class="buscar-formulario">
      <input type="text" class="buscador-header-input" />
      <a href="#" class="btn azul"><i class="fa fa-search"></i></a>
      <a href="#" class="btn rojo mb-0" id="cerrar-buscador"
        ><i class="fa fa-times"></i
      ></a>
    </div>
  </div>
</header>
